body {
  font-family: 'Raleway';
}

a {
    color: red;
}

a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}


h3 {
  margin: 0;
}

span {
  color: red;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400;
    margin: auto;
}

.icon-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 150;
}


.fab {
    font-size: 24;
}

.fas {
    font-size: 24;
}

.box {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px;
  margin-top: 20px;
  background-color: white;
}

.small_box {
  border: 0px solid;
  padding: 10px;
  margin-top: 20px;
  background-color: white;
}

li{
  margin: 10px 0;
}

