@font-face {
  font-family: "CircularStd";
  src: url("./fonts/CircularStd-Black.eot");
  src: url("./fonts/CircularStd-Black.eot?#iefix") format("embedded-opentype"), url("./fonts/CircularStd-Black.woff") format("woff"), url("./fonts/CircularStd-Black.ttf") format("truetype"), url("./fonts/CircularStd-Black.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "CircularStd";
  src: url("./fonts/CircularStd-BlackItalic.eot");
  src: url("./fonts/CircularStd-BlackItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/CircularStd-BlackItalic.woff") format("woff"), url("./fonts/CircularStd-BlackItalic.ttf") format("truetype"), url("./fonts/CircularStd-BlackItalic.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "CircularStd";
  src: url("./fonts/CircularStd-Bold.eot");
  src: url("./fonts/CircularStd-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/CircularStd-Bold.woff") format("woff"), url("./fonts/CircularStd-Bold.ttf") format("truetype"), url("./fonts/CircularStd-Bold.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "CircularStd";
  src: url("./fonts/CircularStd-BoldItalic.eot");
  src: url("./fonts/CircularStd-BoldItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/CircularStd-BoldItalic.woff") format("woff"), url("./fonts/CircularStd-BoldItalic.ttf") format("truetype"), url("./fonts/CircularStd-BoldItalic.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "CircularStd";
  src: url("./fonts/CircularStd-Medium.eot");
  src: url("./fonts/CircularStd-Medium.eot?#iefix") format("embedded-opentype"), url("./fonts/CircularStd-Medium.woff") format("woff"), url("./fonts/CircularStd-Medium.ttf") format("truetype"), url("./fonts/CircularStd-Medium.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "CircularStd";
  src: url("./fonts/CircularStd-MediumItalic.eot");
  src: url("./fonts/CircularStd-MediumItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/CircularStd-MediumItalic.woff") format("woff"), url("./fonts/CircularStd-MediumItalic.ttf") format("truetype"), url("./fonts/CircularStd-MediumItalic.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "CircularStd";
  src: url("./fonts/CircularStd-Book.eot");
  src: url("./fonts/CircularStd-Book.eot?#iefix") format("embedded-opentype"), url("./fonts/CircularStd-Book.woff") format("woff"), url("./fonts/CircularStd-Book.ttf") format("truetype"), url("./fonts/CircularStd-Book.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CircularStd";
  src: url("./fonts/CircularStd-BookItalic.eot");
  src: url("./fonts/CircularStd-BookItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/CircularStd-BookItalic.woff") format("woff"), url("./fonts/CircularStd-BookItalic.ttf") format("truetype"), url("./fonts/CircularStd-BookItalic.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 400;
  font-style: italic;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 375;
  margin: auto;
  padding-top: 40px;
}

.content h6 {
  font-size: 40px;
  color: black;
}

.content p {
  color: black;
}

.icon-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 150;
}

.fab {
  font-size: 24;
}

.fas {
  font-size: 24;
}

a {
  color: black;
}

p {
  font-size: 16px;
  text-align: center;
  margin-top: 30px;
  color: black;
}

h6 {
  margin-bottom: 8;
}

body {
  font-family: 'Raleway';
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}

hr {
  width: inherit;
  margin: 0;
  margin-top: 16;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
